body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Signup page styles */

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30vw;
  padding: 50px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-container label {
  display: block;
  margin-bottom: 10px;
}

.signup-container .form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-container .submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-container .submit-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 5px;
}

/* Login page styles */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30vw;
  padding: 50px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-container label {
  display: block;
  margin-bottom: 10px;
}

.login-container .form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container .toggle-password-button {
  position: absolute;
  top: 54%;
  right: 5px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.login-container .password-wrapper {
  position: relative;
}

.login-container .submit-button {
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container .submit-button:hover {
  background-color: #0056b3;
}

/* Sidebar styles */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #343a40;
  padding-top: 60px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar-brand {
  padding: 10px 20px;
  text-align: center;
  background-color: #212529;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.sidebar-nav {
  margin-top: 20px;
}

.sidebar-log {
  position: absolute;
  bottom: 140px;
  width: 84%;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

.sidebar-nav-item {
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.sidebar-nav-item:hover {
  background-color: #495057;
}

.sidebar-nav-item.active {
  background-color: #6c757d;
}

.sidebar-nav-item i {
  margin-right: 10px;
}

.sidebar-footer {
  position: absolute;
  bottom: 100px;
  width: 84%;
  padding: 10px 20px;
  text-align: center;
  background-color: #212529;
  color: #fff;
}

/* Home page styles */

.container {
  display: flex;
  width: 100%;
}

/* Error page styles */

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.not-found-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.not-found-page p {
  font-size: 18px;
  margin-bottom: 10px;
}

.not-found-page button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.not-found-page button:hover {
  background-color: #0056b3;
}

